{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Add Task</title>
{% endblock %}
{% block content %}
    <div class="container contact-form">
    <form style="margin-top: 15px; border: solid orange; border-radius: 20px; padding: 20px" id="add_task"
    method="post">
      {% csrf_token %}
      <div class="form-outline mb-4">
          <label class="form-label" for="title">Title</label>
          <input type="text" id="title" class="form-control" name="title"/>
      </div>

      <div class="form-outline mb-4">
          <label class="form-label">Category</label>
          <select class="form-control" id="category" name="category">
              {% for cat in categories %}
                  <option>{{cat}}</option>
              {% endfor %}
          </select>
      </div>

      <div class="form-outline mb-4">
          <label class="form-label">Priority</label>
          <select class="form-control" id="priority" name="priority">
              <option>high</option>
              <option>medium</option>
              <option>low</option>
          </select>
      </div>

      <div class="form-outline mb-4">
          <label class="form-label" for="deadLine">Dead line</label>
          <input type="date" id="deadLine" class="form-control" name="deadLine"/>
      </div>

      <div class="form-outline mb-4">
          <label class="form-label" for="description">Description</label>
          <textarea class="form-control" id="description" rows="4" name="description"></textarea>
      </div>

      <input type="submit" class="btn btn-warning" value="ADD TASK" />
    </form>
    </div>
{% endblock %}

{% block script %}
<script>
    var CSRF_TOKEN = '{{ csrf_token }}';
    var URL = "{% url 'add_task' %}"
    console.log(URL)
    console.log(CSRF_TOKEN)
</script>
<script type="text/javascript" src={% static "JS/add.js" %}></script>
{% endblock %}
